body {
    margin: 0px;
}

header {
    background-color: #8E7CC3;
    height: 60px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
}

img {
    margin: 10px 0px 10px 15px;
    height: 40px;
    width: 85px;
}

nav a{
    color: #fff;
    text-decoration: none;
    align-items: center;
    font-family: 'Noto Serif', serif;
    padding-right: 6px;
}
nav{
    margin-right: 15px;
}

nav a:not(:last-child){
    border-right: solid 2px;
}

nav a:hover{
    text-decoration: underline;
}

main{
    margin: 60px;
    justify-content: space-around;
    display: flex;

}

div{
    min-height:  200px;
    width: 200px;
    text-align: center;
    border-radius: 28px;
    font-family: 'Noto Serif', serif;
}

#divAzul{
    background-color: #6FA8DC;
}

#divLaranja {
    background-color: #F6B26B;
    color: #3c3d3c;
}

#divVerde{
    background-color: #6AA84F;
    color: #3c3d3c;
}

footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #999999;
    position: fixed;
}